<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario de Registro
    </ion-title>
  </ion-toolbar>
</ion-header>
 <br>
<ion-content>

    <ion-label>Nombre: </ion-label>
    <input [formControl]="nombre"><br><br>

    <ion-label>Email: </ion-label>
    <input [formControl]="email" type="email"><br><br>
 
    <ion-label>Acepto los terminos y condiciones </ion-label>
    <input [formControl]="valid" type="checkbox"><br><br>
  
  <p class="ion-padding">Nombre: {{ Nombre.value }}</p>
  <p class="ion-padding">Email: {{ Email.value }}</p>
  <p class="ion-text-center">
    <ion-button (click)="Enviar()">Default nombre</ion-button>
  </p>
  <a href="/registro">Back</a>
</ion-content>
