<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Orion Augusto Santana Radillo EA6
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <br>
  <button routerLink="/registro">Registrarse</button><br>

</ion-content>-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input [formControl]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email: </ion-label>
    <ion-input [formControl]="email"></ion-input>
  </ion-item>
  <p class="ion-padding">{{ nombre.value }}</p>
  <p class="ion-padding">{{ email.value }}</p>
  <p class="ion-text-center">
    <ion-button (click)="cambiarNombre()">Default nombre</ion-button>
  </p>
</ion-content>
